doctype html
html
  head
    meta(charset="UTF-8")
    title Struckly - Invitation
  body
    p Hi !
    p You have received an invitation to join the workspace.
    p Please, click the link below to join
    a(href=invitationUrl) Join Workspace
    p If you didn't request this, please ignore this email.